@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/*Header*/

header{
    background-color: #003F88;
    height: 50px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}


nav{
    width: 100%;
    max-width: 1000px;
}

.menu-list{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;

    margin: 0px 20px 0px 20px;
    
}

.menu-link{
    text-decoration: none;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
}

/*Presentation Inicial*/

#box-presentation{
    background-color: #003F88;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    max-width: 1000px;
    margin: 0px 20px 0px 20px;


}

#presentation-one{
    font-family: "Roboto", sans-serif;
    color: #fff;
}

#presentation-one-title{
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 10px;
}

#presentation-one-paragraph{
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;

}

#presentation-one-button{
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;

    background-color: #FFD500;
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
    cursor: pointer;

}

#presentation-one-button:hover{
    background-color: #c7a603;
}

#thiago{
    width: 450px;
}

/*Section Projects*/

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projects-title{
    font-size: 2.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 15px;
    color: #00296B;

    border-bottom: 2px solid #003F88;
    margin: 20px 0px 50px 0px;

}

.projects{
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-bottom: 20px;
}

.project{
    width: 500px;
    border-radius: 20px;

}

/*Section Maintenece*/

#projects-maintenece{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#elements{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.element-image{
    width: 28rem;
}

.elements-section{
    border: 3px solid #003F88;
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    width: 400px;
}

.element-title{
    font-family: "Roboto", sans-serif;
    color: #00296B;
    font-size: 2.5rem;

    margin-top: 20px;
}

.element-button{
    background-color: #003F88;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    margin-bottom: 30px;

    cursor: pointer;
}


.element-button:hover{
    background-color: #0055b6;
}

/*Section About*/

#about{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

.div-about-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 30px;

    width: 90%;
    max-width: 1000px;

    margin: 20px;
}

.div-about-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 30px;

    width: 90%;
    max-width: 1000px;

    margin: 20px;
}

.image-about{
    width: 350px;
    border-radius: 20px;
}

.paragraph-about{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

#section-currencly{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.currently{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    width: 100%;
    max-width: 1000px;

    margin-top: 50px;
}

.div-currently{
    background-color: #003F88;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 500px;
    
}

.praragraph-currently{
    color: #fff;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    margin: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: #003F88;

    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

footer > section{
    display: flex;
    flex-direction: row;
    background-color: #003F88;

    align-items: center;
    justify-content: space-around;
    

    height: 70px;
    width: 90%;
    max-width: 1000px;
}

.footer-title{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.image-footer{
    width: 20px;
    cursor: pointer;

}

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-footer > div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
    
}

@media (min-width:1025px){
    .currently{
        gap: 30px;
        
    }
}

@media(max-width: 1140px){
   .element-image{
       width: 250px;
   }
}

@media(max-width: 1024px){
    .project{
        width: 400px;
    }
    
    .element-image{
        width: 200px;
    }

    .div-currently{
        width: 300px;
    }
}

@media(max-width:930px){
   #presentation-one-title{
       font-size: 4rem;
   }
}

@media(max-width: 850px){
    
    #presentation-one-title{
        font-size: 3.5rem;
    }
    .project{
        width: 300px;
    }

    .element-image{
        width: 150px;
    }
    
}


@media(max-width: 768px){
    
    html{
        font-size: 55%;
    }

    /*Menu*/

    .menu{
        display: none;
    }
    

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    .one,.two,.three{
        background-color: #fff;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-section.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: #003F88;
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    .menu-section.on .menu{
        display: block;
    }

    .menu-section.on .menu-toggle{
        position: absolute;
        right: 5vw;
        top:20px;
    }

    /*Transitions*/

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-link{
        transition-duration: 0.5s;
        font-size: 2.5rem;
        line-height: 8rem;
        font-weight: 400;
    }

    /*Menu List*/
    .menu-section.on .menu .menu-list{
        display: block;
        text-align: center;
    }

    /*Others Elements*/

    #elements{
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 50px;
    }

    .element-image{
        width: 400px;
    }

    .projects{
        display: flex;
        flex-direction: column;
    }

    .project{
        width: 550px;
    }

    .image-about{
        width: 300px;
    }

    #thiago{
        width: 340px;
    }

    .div-currently{
        width: 200px;
        height: 380px;
    }
}


@media(max-width: 620px){
    /*
    }*/

    #presentation-one-title{
        font-size: 3rem;
    }

    #presentation-one-paragraph{
        font-size: 1.8rem;
    }

    #presentation-one-button{
        font-size: 1.4rem;
    }

    #thiago{
        width: 300px;       
    }

    .project{
        width: 450px;
    }

    .image-about{
        width: 200px;
    }
}


@media (max-width: 540px){
    #presentation{
        display: flex;
        flex-direction: column;
    }
    
    #presentation-one{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;

        margin-top: 50px;
        
    }

    #presentation-one-title{
        font-size: 3.5rem;
    }

    #presentation-one-paragraph{
        font-size: 2rem;
    }

    #presentation-one-button{
        font-size: 1.6rem;
    }

    #presentation-one{
        margin-top: 20px;
    }

    .project{
        width: 400px;
    }

    .element-image{
        width: 300px;
    }

    .elements-section{
        width: 350px;
    }

    #about{
        gap: 30px;
    }

    .div-about-right{
        display: flex;
        flex-direction: column-reverse;
    }

    .div-about-left{
        display: flex;
        flex-direction: column;
        
    }

    .currently{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .praragraph-currently{
        font-size: 2rem;
    }

    .div-currently {
        width: 270px;
        height: 380px;
    }

}


@media (max-width: 400px){
    
    .elements-section {
        width: 270px;
    }

    .project {
        width: 300px;
    }
}

@media (max-width: 350px){
    .project {
        width: 250px;
    }

    .elements-section {
        width: 228px;
    }

    .element-image {
        width: 240px;
    }

    .projects-title{
        font-size: 1.8rem;
    }

    .div-currently {
        width: 235px;
     
    }
}